[submodule "Backend"]
	path = Backend
	url = git@github.com:DMeurer/JobPortal-Backend.git
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:DMeurer/JobPortal-Frontend.git
[submodule "Runners"]
	path = Runners
	url = git@github.com:DMeurer/JobPortal-Runners.git
